/* Print Style Sheet */

@media print {
    body {
        background-color: none;
        font-family:serif;
        font-size: 1.5em;
    }
a[href]::after {
    content"" attr(href);
}

}

.face p {
    columns: 1;
}

@page {
    margin: 
}